node_modules/
.husky/
reports/
*.md
*.test.js
test/**/*.js
src/util/lodash-es-core.js
**/ivm*.js
**/custom*.js
**/warehouse/
**/lambda/
**/openfaas/
src/util/url-search-params.min.js
src/logger.js
src/util/eventValidations.js
**/trackingPlan*
src/v0/destinations/personalize/scripts/
test/integrations/destinations/testTypes.d.ts
