node_modules/
.husky/
reports/
test/
benchmark/
dist/
**/warehouse/
**/lambda/
**/openfaas/
*.md
*.test.js
*.test.ts
src/util/lodash-es-core.js
**/ivm*.js
**/custom*.js
src/util/url-search-params.min.js
src/logger.js
src/util/eventValidations.js
**/trackingPlan*
src/v0/destinations/personalize/scripts/
test/integrations/destinations/testTypes.d.ts
*.config*.js
scripts/skipPrepareScript.js
