registry=https://registry.npmjs.com/
@rudderlabs:registry=https://rudderlabs-422074288268.d.codeartifact.us-east-1.amazonaws.com/npm/control-plane/
//rudderlabs-422074288268.d.codeartifact.us-east-1.amazonaws.com/npm/control-plane/:_authToken=${REGISTRY_TOKEN}
//rudderlabs-422074288268.d.codeartifact.us-east-1.amazonaws.com/npm/control-plane/:always-auth=true
