[Unit]
Description = Setting up User Transformer
After = network.target

[Service]
WorkingDirectory = /home/ubuntu/rudder-transformer
Restart = always
ExecStart = /usr/bin/node /home/ubuntu/rudder-transformer/echoServer.js

[Install]
WantedBy = multi-user.target

