name: Build Artifacts for PRs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

permissions:
  contents: read
  id-token: write # allows the JWT to be requested from GitHub's OIDC provider

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  generate-tag-names:
    runs-on: ubuntu-latest
    name: Generate Tag Names
    # Skip for the release pull requests as staging artifacts will be generated
    if: startsWith(github.event.pull_request.head.ref, 'release/') != true && startsWith(github.event.pull_request.head.ref, 'hotfix-release/') != true && github.event.pull_request.head.ref != 'main'
    outputs:
      tag_name: ${{ steps.gen_tag_names.outputs.tag_name }}
      tag_name_ut: ${{ steps.gen_tag_names.outputs.tag_name_ut }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1

      # Replace problematic characters in branch name (like '/') with safe characters (like '.')
      - name: Generate Tag Names
        id: gen_tag_names
        run: |
          tag_name=$(echo ${{ github.head_ref }} | tr "/" .)
          echo "Tag Name: branch-$tag_name"
          echo "tag_name=branch-$tag_name" >> $GITHUB_OUTPUT

          tag_name_ut="ut-$tag_name"
          echo "UT Tag Name: branch-$tag_name_ut"
          echo "tag_name_ut=branch-$tag_name_ut" >> $GITHUB_OUTPUT

  build-transformer-image:
    name: Build Transformer Docker Image - PR
    # Skip for the release pull requests as staging artifacts will be generated
    # Skip main to develop sync pull requests
    if: startsWith(github.event.pull_request.head.ref, 'release/') != true && startsWith(github.event.pull_request.head.ref, 'hotfix-release/') != true && github.event.pull_request.head.ref != 'main'
    needs: [generate-tag-names]
    uses: ./.github/workflows/build-push-docker-image.yml
    with:
      image_repo: rudderstack/develop-rudder-transformer
      image_tag: ${{ needs.generate-tag-names.outputs.tag_name }}
      dockerfile: Dockerfile
      load_target: development
      push_target: production
      create_latest_tag: false
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  build-user-transformer-image:
    name: Build User Transformer Docker Image - PR
    # Skip for the release pull requests as staging artifacts will be generated
    if: startsWith(github.event.pull_request.head.ref, 'release/') != true && startsWith(github.event.pull_request.head.ref, 'hotfix-release/') != true && github.event.pull_request.head.ref != 'main'
    needs: [generate-tag-names]
    uses: ./.github/workflows/build-push-docker-image.yml
    with:
      image_repo: rudderstack/develop-rudder-transformer
      image_tag: ${{ needs.generate-tag-names.outputs.tag_name_ut }}
      dockerfile: Dockerfile-ut-func
      load_target: development
      push_target: production
      create_latest_tag: false
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  run-ingestion-service-test:
    name: Run Ingestion Service Test
    needs: [build-transformer-image, generate-tag-names]
    uses: ./.github/workflows/ingestion-service-test.yml
    with:
      build_tag: rudderstack/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name }}
    secrets:
      PAT: ${{ secrets.PAT }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
