name: Build Artifacts for PRs

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  generate-tag-names:
    runs-on: ubuntu-latest
    name: Generate Tag Names
    # Skip for the release pull requests as staging artifacts will be generated
    if: startsWith(github.event.pull_request.head.ref, 'release/') != true && startsWith(github.event.pull_request.head.ref, 'hotfix-release/') != true && github.event.pull_request.head.ref != 'main'
    outputs:
      tag_name: ${{ steps.gen_tag_names.outputs.tag_name }}
      tag_name_ut: ${{ steps.gen_tag_names.outputs.tag_name_ut }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3
        with:
          fetch-depth: 1

      # Replace problematic characters in branch name (like '/') with safe characters (like '.')
      - name: Generate Tag Names
        id: gen_tag_names
        run: |
          tag_name=$(echo ${{ github.head_ref }} | tr "/" .)
          echo "Tag Name: $tag_name"
          echo "tag_name=$tag_name" >> $GITHUB_OUTPUT

          tag_name_ut="ut-$tag_name"
          echo "UT Tag Name: $tag_name_ut"
          echo "tag_name_ut=$tag_name_ut" >> $GITHUB_OUTPUT

  build-transformer-image:
    name: Build Transformer Docker Image - PR
    # Skip for the release pull requests as staging artifacts will be generated
    # Skip main to develop sync pull requests
    if: startsWith(github.event.pull_request.head.ref, 'release/') != true && startsWith(github.event.pull_request.head.ref, 'hotfix-release/') != true && github.event.pull_request.head.ref != 'main'
    needs: [generate-tag-names]
    uses: ./.github/workflows/build-push-docker-image.yml
    with:
      build_tag: rudderstack/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name }}
      push_tags: rudderstack/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name }},rudderlabs/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name }}
      img_tag: ${{ needs.generate-tag-names.outputs.tag_name }}
      dockerfile: Dockerfile
      load_target: development
      push_target: production
    secrets:
      DOCKERHUB_PROD_TOKEN: ${{ secrets.DOCKERHUB_PROD_TOKEN }}

  build-user-transformer-image:
    name: Build User Transformer Docker Image - PR
    # Skip for the release pull requests as staging artifacts will be generated
    if: startsWith(github.event.pull_request.head.ref, 'release/') != true && startsWith(github.event.pull_request.head.ref, 'hotfix-release/') != true && github.event.pull_request.head.ref != 'main'
    needs: [generate-tag-names]
    uses: ./.github/workflows/build-push-docker-image.yml
    with:
      build_tag: rudderstack/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name_ut }}
      push_tags: rudderstack/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name_ut }},rudderlabs/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name_ut }}
      img_tag: ${{ needs.generate-tag-names.outputs.tag_name_ut }}
      dockerfile: Dockerfile-ut-func
      load_target: development
      push_target: production
    secrets:
      DOCKERHUB_PROD_TOKEN: ${{ secrets.DOCKERHUB_PROD_TOKEN }}
