name: Create New Hotfix Branch

on:
  workflow_dispatch:
    inputs:
      hotfix_name:
        description: Hotfix branch name
        required: true

permissions:
  contents: write

jobs:
  validate-actor:
    uses: ./.github/workflows/validate-actor.yml
    with:
      team_names: 'integrations,data-management'
    secrets:
      PAT: ${{ secrets.PAT }}

  create-branch:
    name: Create New Hotfix Branch
    runs-on: ubuntu-latest
    needs: validate-actor

    # Only allow these users to create new hotfix branch from 'main'
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Create Branch
        uses: peterjgrainger/action-create-branch@10c7d268152480ae859347db45dc69086cef1d9c
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        with:
          branch: 'hotfix/${{ inputs.hotfix_name }}'
