name: Handle Stale PRs, Issues and Branches

on:
  schedule:
    # Run everyday at 1 AM
    - cron: '0 1 * * *'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  prs:
    name: Clean Up Stale PRs and Issues
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      issues: write

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
        with:
          repo-token: ${{ secrets.PAT }}
          operations-per-run: 200
          stale-pr-message: 'This PR is considered to be stale. It has been open for 20 days with no further activity thus it is going to be closed in 7 days. To avoid such a case please consider removing the stale label manually or add a comment to the PR.'
          stale-issue-message: 'This issue is considered to be stale. It has been open for 30 days with no further activity thus it is going to be closed in 7 days. To avoid such a case please consider removing the stale label manually or add a comment to the issue.'
          days-before-pr-stale: 20
          days-before-pr-close: 7
          days-before-issue-stale: 30
          days-before-issue-close: 7
          stale-pr-label: 'Stale'
          stale-issue-label: 'Stale'

  branches:
    name: Cleanup Stale Branches
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Delete Old Branches
        uses: beatlabs/delete-old-branches-action@4eeeb8740ff8b3cb310296ddd6b43c3387734588 # v0.0.11
        with:
          repo_token: ${{ secrets.PAT }}
          date: '3 months ago'
          dry_run: false
          delete_tags: false
          extra_protected_branch_regex: ^(main|develop)$
          exclude_open_pr_branches: true
