name: Handle Stale PRs, Issues and Branhes

on:
  schedule:
    - cron: '42 1 * * *'

jobs:
  prs:
    name: Clean Up Stale PRs and Issues
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - uses: actions/stale@v8.0.0
        with:
          repo-token: ${{ github.token }}
          operations-per-run: 200
          stale-pr-message: 'This PR is considered to be stale. It has been open for 20 days with no further activity thus it is going to be closed in 7 days. To avoid such a case please consider removing the stale label manually or add a comment to the PR.'
          stale-issue-message: 'This issue is considered to be stale. It has been open for 30 days with no further activity thus it is going to be closed in 7 days. To avoid such a case please consider removing the stale label manually or add a comment to the issue.'
          days-before-pr-stale: 20
          days-before-pr-close: 7
          days-before-issue-stale: 30
          days-before-issue-close: 7
          stale-pr-label: 'Stale'
          stale-issue-label: 'Stale'

  branches:
    name: Cleanup Stale Branches
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.0

      - name: Delete Old Branches
        uses: beatlabs/delete-old-branches-action@v0.0.9
        with:
          repo_token: ${{ github.token }}
          date: '3 months ago'
          dry_run: false
          delete_tags: false
          extra_protected_branch_regex: ^(main|release/.*|develop|hotfix/.*|hotfix-release/.*)$
          exclude_open_pr_branches: true
