name: Ingestion Service Test

on:
  workflow_call:
    inputs:
      build_tag:
        required: true
        type: string
    secrets:
      DOCKERHUB_TOKEN:
        required: true
      RELEASE_PRIVATE_KEY:
        required: true

permissions:
  contents: read

jobs:
  ingestion-service-test:
    name: ingestion-service-test
    runs-on: ubuntu-latest

    permissions:
      contents: read
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TRANSFORMER_IMAGE_NAME_FOR_TEST: ${{ inputs.build_tag }}
      TRANSFORMER_DOCKER_USERNAME: rudderlabs
      TRANSFORMER_DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Generate GitHub App Token
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ vars.RELEASE_APP_ID }}
          private-key: ${{ secrets.RELEASE_PRIVATE_KEY }}
          permission-contents: read # to read repository contents
          repositories: rudder-ingestion-svc # to access cross-repo

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: 'Clone ingestion service'
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          gh repo clone rudderlabs/rudder-ingestion-svc
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'rudder-ingestion-svc/go.mod'
      - name: 'Update Go module to use current branch'
        run: |
          cd rudder-ingestion-svc
          # Add replace directive to use local rudder-transformer code
          go mod edit -replace github.com/rudderlabs/rudder-transformer/go=../go
          # Update go.sum and download dependencies
          go mod tidy
      - name: 'Install dependencies'
        run: |
          go version
          cd rudder-ingestion-svc
          go mod download
      - name: 'Run tests'
        continue-on-error: true
        run: |
          cd rudder-ingestion-svc
          pwd
          make test package=internal/gateway exclude='internal/gateway/.+'
