name: Ingestion Service Test

on:
  workflow_call:
    inputs:
      build_tag:
        required: true
        type: string
    secrets:
      PAT:
        required: true
      DOCKERHUB_TOKEN:
        required: true

permissions:
  contents: read

jobs:
  ingestion-service-test:
    name: ingestion-service-test
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TRANSFORMER_IMAGE_NAME_FOR_TEST: ${{ inputs.build_tag }}
      TRANSFORMER_DOCKER_USERNAME: rudderlabs
      TRANSFORMER_DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: 'Clone ingestion service'
        run: |
          git clone https://${{secrets.PAT}}@github.com/rudderlabs/rudder-ingestion-svc.git
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'rudder-ingestion-svc/go.mod'
      - name: 'Update Go module to use current branch'
        run: |
          cd rudder-ingestion-svc
          # Add replace directive to use local rudder-transformer code
          go mod edit -replace github.com/rudderlabs/rudder-transformer/go=../go
          # Update go.sum and download dependencies
          go mod tidy
      - name: 'Install dependencies'
        run: |
          go version
          cd rudder-ingestion-svc
          go mod download
      - name: 'Run tests'
        continue-on-error: true
        run: |
          cd rudder-ingestion-svc
          pwd
          make test package=internal/gateway exclude='internal/gateway/.+'
