name: Ingestion Service Test

on:
  workflow_call:
    inputs:
      build_tag:
        required: true
        type: string
    secrets:
      PAT:
        required: true
      DOCKERHUB_TOKEN:
        required: true

permissions:
  contents: read

jobs:
  ingestion-service-test:
    name: ingestion-service-test
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      TRANSFORMER_IMAGE_NAME_FOR_TEST: ${{ inputs.build_tag }}
      TRANSFORMER_DOCKER_USERNAME: rudderlabs
      TRANSFORMER_DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: 'Clone ingestion service'
        run: |
          git clone https://${{secrets.PAT}}@github.com/rudderlabs/rudder-ingestion-svc.git
      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'rudder-ingestion-svc/go.mod'
      - name: 'Update Go module to use current branch'
        run: |
          cd rudder-ingestion-svc
          # Add replace directive to use local rudder-transformer code
          go mod edit -replace github.com/rudderlabs/rudder-transformer/go=../go
          # Update go.sum and download dependencies
          go mod tidy
      - name: 'Install dependencies'
        run: |
          go version
          cd rudder-ingestion-svc
          go mod download
      - name: 'Run tests'
        continue-on-error: true
        run: |
          cd rudder-ingestion-svc
          pwd
          make test package=internal/gateway exclude='internal/gateway/.+'
