name: Prepare for Dev Environment Deployment

on:
  push:
    branches:
      - develop
  pull_request:
    types:
      - closed
    branches:
      - develop

jobs:
  report-coverage:
    name: Report Code Coverage
    if: github.event_name == 'push'
    uses: ./.github/workflows/dt-test-and-report-code-coverage.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  generate-tag-names:
    runs-on: ubuntu-latest
    name: Generate Tag Names
    # Only merged pull requests must trigger
    if: github.event.pull_request.merged == true
    outputs:
      tag_name: ${{ steps.gen_tag_names.outputs.tag_name }}
      tag_name_ut: ${{ steps.gen_tag_names.outputs.tag_name_ut }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 1

      - name: Generate Tag Names
        id: gen_tag_names
        run: |
          tag_name="latest"
          echo "Tag Name: $tag_name"
          echo "tag_name=$tag_name" >> $GITHUB_OUTPUT

          tag_name_ut="ut-$tag_name"
          echo "UT Tag Name: $tag_name_ut"
          echo "tag_name_ut=$tag_name_ut" >> $GITHUB_OUTPUT

  build-transformer-image:
    name: Build Transformer Docker Image - Dev
    # Only merged pull requests must trigger
    if: github.event.pull_request.merged == true
    needs: [generate-tag-names]
    uses: ./.github/workflows/build-push-docker-image.yml
    with:
      build_tag: rudderstack/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name }}
      push_tags: rudderstack/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name }}
      img_tag: ${{ needs.generate-tag-names.outputs.tag_name }}
      dockerfile: Dockerfile
      load_target: development
      push_target: production
    secrets:
      DOCKERHUB_PROD_TOKEN: ${{ secrets.DOCKERHUB_PROD_TOKEN }}

  build-user-transformer-image:
    name: Build User Transformer Docker Image - Dev
    # Only merged pull requests must trigger
    if: github.event.pull_request.merged == true
    needs: [generate-tag-names]
    uses: ./.github/workflows/build-push-docker-image.yml
    with:
      build_tag: rudderstack/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name_ut }}
      push_tags: rudderstack/develop-rudder-transformer:${{ needs.generate-tag-names.outputs.tag_name_ut }}
      img_tag: ${{ needs.generate-tag-names.outputs.tag_name_ut }}
      dockerfile: Dockerfile-ut-func
      load_target: development
      push_target: production
    secrets:
      DOCKERHUB_PROD_TOKEN: ${{ secrets.DOCKERHUB_PROD_TOKEN }}
