name: Notify workflow failure

on:
  workflow_call:
    inputs:
      should_notify:
        type: boolean
        default: true
      workflow_url:
        type: string
        required: true

permissions:
  contents: read

jobs:
  notify:
    runs-on: ubuntu-latest
    if: ${{ inputs.should_notify }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: notify
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        continue-on-error: true
        env:
          PROJECT_NAME: 'Rudder Transformer'
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          payload: |
            {
              "channel": "${{ secrets.SLACK_INTEGRATION_DEV_CHANNEL_ID }}",
              "text": "*<prod release tests failed>*\nCC: <!subteam^S02AEQL26CT>",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": ":siren2:  prod release tests - Failed  :siren2:"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*<${{inputs.workflow_url}}|failed workflow>*\nCC: <!subteam^S02AEQL26CT>"
                  }
                }
              ]
            }
