name: Verify Server start

on:
  pull_request:
    types: ['opened', 'reopened', 'synchronize']

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  check-health:
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 1

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci && npm run prepare

      - name: Build Project
        run: npm run build

      - name: Verify Server Startup (no cluster)
        working-directory: ./dist
        run: ../.github/scripts/verifyServerStart.sh
        env:
          CLUSTER_ENABLED: 'false'
          STATS_CLIENT: 'prometheus'

      - name: Verify Server Startup (cluster with 4 workers)
        working-directory: ./dist
        run: ../.github/scripts/verifyServerStart.sh
        env:
          CLUSTER_ENABLED: 'true'
          NUM_PROCS: '4'
          STATS_CLIENT: 'prometheus'
          CLUSTER_MANAGER_SHUTDOWN_TIMEOUT: '5000'
