name: Verify

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  formatting-lint:
    name: Check for formatting & lint errors
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci && npm run prepare

      - name: Run format check
        run: npm run format:ci

      - id: files
        uses: Ana06/get-changed-files@a2f6df8c195e713211f9f6258baafc445149355b # v1.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run eslint Checks
        run: |
          npx eslint ${{steps.files.outputs.added_modified}} --fix

      - run: git diff --exit-code

      - name: Eslint Error message
        if: ${{ failure() }}
        run: |
          echo 'Eslint failure. Ensure you run `npm run lint:fix` and commit the files.'
