name: Verify Server start

on:
  pull_request:
    types: ['opened', 'reopened', 'synchronize']

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  check-health:
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci && npm run prepare

      - name: Build Project
        run: npm run build

      - name: Verify Server Startup (no cluster)
        working-directory: ./dist
        run: ../.github/scripts/verifyServerStart.sh
        env:
          CLUSTER_ENABLED: 'false'
          STATS_CLIENT: 'prometheus'

      - name: Verify Server Startup (cluster with 4 workers)
        working-directory: ./dist
        run: ../.github/scripts/verifyServerStart.sh
        env:
          CLUSTER_ENABLED: 'true'
          NUM_PROCS: '4'
          STATS_CLIENT: 'prometheus'
          CLUSTER_MANAGER_SHUTDOWN_TIMEOUT: '5000'
