name: Verify

on:
  pull_request:

permissions:
  contents: read
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  formatting-lint:
    name: Check for formatting & lint errors
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci && npm run prepare

      - name: Run format check
        run: npm run format:ci

      - id: files
        uses: Ana06/get-changed-files@a2f6df8c195e713211f9f6258baafc445149355b # v1.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run eslint Checks
        run: |
          npx eslint ${{steps.files.outputs.added_modified}} --fix

      - run: git diff --exit-code

      - name: Eslint Error message
        if: ${{ failure() }}
        run: |
          echo 'Eslint failure. Ensure you run `npm run lint:fix` and commit the files.'
